.pokemon-list-wrapper{
    margin:2rem auto;

}
.pokemon-wrapper{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.controls {
    display: flex;
    justify-content: center;
    gap: 1rem; /* space between buttons */
    margin-top: 1rem;
}
.controls>button{
    padding:1rem;
}